@import "variables";
@import "animations";

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;

    background-repeat:no-repeat;
    background-size:contain;
    background-color: $bg-color;
    background-size: contain;

    display: flex;
}

.animation-trigger{
    position: fixed;

    z-index: 99;

    top: 50%;
    left: 50%;
    margin: -12.5vw 0 0 -12.5vw;
    width: 25vw;
    height: 25vw;

    border: 0.5vw solid transparent;
    background-color: transparent;

    // content: "";
}

.orb {
    padding: 0;
    width: 100%;
    height: 100%;

    z-index: 3;
    // display: inline-flex;


}

.wave {
    position: fixed;
    height: 80vh;
    width: 100vw;
    margin-top: 20vh;
    z-index: -1;
    display: block;

    text-align: center;

    background: $wave-color;
    opacity: 0.3;

    background: linear-gradient(45deg, $wave-color 0%, $wave-color2 100%);
    animation: morph 8s ease-in-out infinite;
    // border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border-radius: 60% 40% 0% 0% / 60% 30% 0% 0%;
    transition: all 1s ease-in-out;

    .text {
        z-index: -10;
        padding-top: 10vw;
        margin: 0 auto;

        font-size: 20vw;

        color: $theme-pink;
        opacity: 0.7;

        animation: animate 8s ease-in-out infinite;
        transform: translateY(-1vh);
        animation-delay: calc(0.05s * var(--text-index))
    }
}