@import "normalize";
@import "rouge-github";
@import "variables";
@import "background";
@import "animations";


@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');


@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: 1em'Montserrat', sans-serif; 
}

body {
  height: 100%;

}


.page-header {
    position: fixed;
    display: inline-flex;


    div {
      display: inline-block;
      vertical-align: middle;
    }


    .logo {
      padding: 1vw 1vh 1vw 1vh;
      max-width: 10vw;
      max-height: 10vh;

      z-index: 10;

      img {
        max-width: 100%;
        max-height: 100%;

        &:hover {
          cursor: pointer;
        }
      }

    }

    .bar {
      margin: auto auto;

      width: 0.2vw;
      height: 3vw;

      background: $theme-pink;
    }

    .links {
      top: 3vh;

      a {
        padding: 0 2vw 0 2vw;
        font-size: calc(12px + 0.7vw);
        text-transform: uppercase;
        
        display: inline-block;
     
        text-decoration: none;
        color: $horizon-second;

      }

      
    }

    .mode-toggle {
      float: right;
      width: 5vw;
      height: 5vw;

      background-image: url(../main/sun.png);
      // filter: invert(100%);
      opacity: 0.8;

    }
}



.main-content {
  word-wrap: break-word;


  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  
  kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $horizon-second;
  }

  p {
    margin-bottom: 1em;
  }

}


.page-content {
  clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%);
  animation: slide 8s, glow 5s infinite;

  border: 0.3vw solid $horizon-second;
  color: $horizon-second;
  padding: 5vh;
  margin-top: 15vh;

  background-color: rgba(255, 255, 255, 0.095);

  font-weight: 0.5vw;

  h1 {
    margin-top: 0;
    font-weight: bold;;
  }
}

// special effects

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy { 
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.glitch{
  margin:0;
  padding: 1vw;
  position:fixed;
  font-weight: bolder;

  color:$horizon-second;

  text-shadow:0.1vw 0 $glitch-secondary; 
  overflow:hidden;
  clip: rect(0, 100%, 100%, 0);
  animation:noise-anim-2 5s infinite linear;
}


#enter {
  @extend .glitch;

  font-size: 4vw;
  animation:noise-anim-3 5s infinite linear alternate-reverse;
}


