// Background
$bg-color: 	#110e26 !default;
$wave-color: #4b528f !default;
$wave-color2: #4b528f !default;
$wave-color3: #4b528f !default;
$wave-color4: #4b528f !default;


$theme-pink: #c86b84 !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;


// Text
$section-headings-color: #ffe2e2 !default;